:root {
    --buttom-color: #FEAA00
    --search-bar-color: #2B2D2E
    --second-text-color: #C4C3C3

}

body {
    height: 100vh;
    background-color:black;
    flex-direction: column;
    display: flex;
    padding: 30px;

}

header {
    display: flex;
    align-items: center;
    gap: 16px;

}

nav a {
    margin: 0 15px;

}

.search input {
    padding: 0 19px;
}