:root {
    --buttom-color: #FEAA00
    --search-bar-color: #2B2D2E
    --second-text-color: #C4C3C3

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color:black;
    flex-direction: column;
    display: flex;
    padding: 30px;
    font-family: Maven Pro;

}

header {
    display: flex;
    align-items: center;
    gap: 19px;

.logo {
    font-size: 1.7rem;
    font-weight: 700;
    position: 10 10;
    color: white;
    padding: 5px 1px;
    }

    h1 {
    color: white;
    font-family: Lexend Deca;
    position: 1px 10px;
    padding: 1px 20px;
    }

}


nav a {
    margin: 0 20px;
    color: white;
    text-decoration: none;
    font-family: Alata;

}


p {
    color: white;
}

.bg-image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 10%;
    background-size: cover;
}

.tanjiro {
    width: 15px;
    position: absolute;
    z-index: 1;
    padding-left: 400px;
}


.tags {
    display: flex;
    justify-content: center;
    align-items: center;

    .tanjiro {
        width: 50px;
    }
   
}

.title {
    h1 {
    color: white;
    font-family: Maven Pro;
    font-weight: 90;
    font-size: 15px;
    padding-top:35px;
    padding-bottom: 25px;
}

    h2 {
    color: white;
    font-family: Lexend Deca;
    font-size: 45px;
}

}

.desc {
    position: absolute;
    z-index: 3;
    right: 100px;
    
    h1 {
        color: white;
        font-size: 15px;
        font-weight: 100;
        padding-bottom: 40px;
    }

    .buttom {
        padding-right: 25px;
    }

    .ch {
        padding-bottom: 10px;
    }
}

.avaliation {
    position: absolute;
    left: 100px;

    h1 {
        color: white;
    }

    h2 {
        position: absolute;
        color: white; 
        font-size: 15px;
        font-weight: 100;
        left: 70px;
        white-space: nowrap;

    }

    .stars {
        width: 170px;
        padding-left: 60px;
        bottom: 20px;
        position: absolute;
    }
}

.tracinhos {
    position: absolute;
    right: 100px;
    padding-bottom: 150px;
}